<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BMI</title>
</head>
<body>
    <form method="POST">
        <table>
            <tr>
                <td>Weight</td>
                <td><input name="weight"></td>
            </tr>
            <tr>
                <td>Height</td>
                <td><input name="height"></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">calculate</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>